@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #393939;
  width: calc(100vw - 200px);
  overscroll-behavior-x: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  overflow-y: visible;
  overflow-x: hidden;
  height: 0;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #5a5a5a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f4f4f4;
}
