.control {
  margin-bottom: 0.5rem;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.control input:focus {
  outline: none;
  border-color: #0b7caa;
  background: #eff3ff;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
