.cart-button {
    background-color: #272323;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.2px;
    display: inline-block;
    position: fixed;
    top: 1.5em;
    right: 10em;
    font-size: 14px;
    width: 16em;
    height: 2.7em;
    border-radius: 20px;
    border-style: none;
    opacity: 0.7;
    z-index: 0;
}

.cart-button:hover {
    cursor: pointer;
}

.cart-button span {
    position: relative;
    top: 0.1em;
    right: 0.4em;
    z-index: 2;
    opacity: 1;
}

.cart-button.items-number {
    background-color: #cd2121;
    border-radius: 10px;
    height: 25px;
    width: 35px;
    position: relative;
    top: -0.1em;
    left: 0.5em;
    z-index: 1;
    opacity: 1;
}

.cart-button.items-number:hover {
    cursor: pointer;
}

.cart-button.items-number label {
    font-size: 16px;
    font-weight: 600;
    width: 25px;
    position: relative;
    top: 0.15em;
    z-index: 2;
}

.cart-button.items-number label {
    cursor: pointer;
}

.font-basket {
    display: inline-block;
    position: relative;
    top: 0.2em;
    right: 0.5em;
    z-index: 2;
    opacity: 1; 
}

.bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  