.img-trunk {
    z-index: 0;
    width: 100vw;
    overflow: hidden;
}

.main-img {
    width: 100vw;
    height: auto;
    overflow: hidden;
    z-index: -1;
}

/* Maximum width */
@media (max-width: 768px) {
    .main-img {
        overflow-clip-margin: content-box;
        width: 1000px;
        height: auto;
        /* clip-path: inset(0 calc(calc(1000px - 100vw - 310px)) 0 310px); */
        clip-path: inset(0 calc(calc(1000px - 100vw - 310px)) 0 calc(360px - 50vw));
        position: relative;
        /* right: 310px; */
        right: calc(360px - 50vw);
        overflow: hidden;
        transform: scale(1.3);
    }
  }