
.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 5rem;
    background-color: #c34f3f;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    /* min-width: 600px; */
}

.sticker {
    /* position: fixed;
    top: 0;
    left: 0;
    /* width: 100vw;
    height: 5rem; */
    /* background-color: #c34f3f; */ 
}

.header h2 {
    /* margin-left: calc(100vw * 0.2); */
    font-size: 32px;
    width: fit-content;
    letter-spacing: 3px;
    position: fixed;
    top: -0.3rem;
}

.desktop {
  margin-left: calc(100vw * 0.1);
}

.mobile {
  margin-left: 65px;
}

.font-basket {
    display: inline-block;
    position: fixed;
    top: 1.2rem;
    right: 45px;
    z-index: 10;
    opacity: 1; 
    color: white;
    text-align: center;
  }
  
  .font-basket:hover {
    background-color: #835f8a;
    border-radius: 20px;
  }

.btn {
    background-color: transparent;
    color: white;
    border: none;
    
  }

  .btn:hover {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    .mobile {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .desktop {
      display: none;
    }
    .header {
      height: 3.5rem;
    }
    .header h2 {
      font-size: 23px;
    }
  }