.add-meal {
    text-align: center;
    background-color: #cd2121;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
    height: 30px;
    width: 120px;
    margin-top: 0.8em;
    border: none;
}

.add-meal:hover {
    background-color: #ca4242;
}