.header-info {
    background-color: #272727;
    min-width: 500px;
    width: calc(100vw * 0.5);
    height: auto;
    min-height: 200px;
    position: fixed;
    top: 265px;
    left: calc(100vw * 0.25);
    border-radius: 15px;
    -webkit-box-shadow: 8px 5px 50px -12px #000000;
    -moz-box-shadow: 8px 5px 50px -12px #000000;
    box-shadow: 8px 5px 50px -12px #000000;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    display: inline-block;    
    letter-spacing: 2px;
    margin-top: 30px;
}

p {
    display: inline-block;   
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
    margin-top: 0;
}